/* estilo.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .news-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c1bfbf;
    box-shadow: 0 0 5px rgba(68, 52, 52, 0.2);
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }